//footer section style 
.footer {
    background: $dark;
    color: $body-color;
    padding: 80px 0 25px;
}
.footer-content-title {
    margin-bottom: 16px;
    text-transform: uppercase;
    color: $light;
}
.footer-content {
    margin: 60px 0 80px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    svg {
        fill: $primary;
        width: 18px;
        height: auto;
        object-fit: contain;
    }
}