//header style
.header {
    background-color: $dark;
    padding: 18px 0;
    opacity: .6;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 10;

    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.logo {
    width: 40px;
    height: auto;
    object-fit: contain;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
}