//variables-font
$font-family: "Quicksand", sans-serif;
$font-weight: 400;
$font-style: normal;
$font-size: 16px;
$font-small : 14px;

//variables-colors 
$light: #fff;
$dark: #343a40;
$body-color: #fefefe;
$title-light: #e3e3e3;
$bg-light: #f4f5f8;
$font-color-dark: #212529;
$font-color-light: #707d91;
$link-color: #ffffdb;
$primary: #9af852;
$secondary: #08cfcb;
$margin-center: 0 auto;
$text-center: center;
$transition: .3s ease-in-out;
$gradient : linear-gradient(60deg, #9af852, #08cfcb);